@charset "utf-8";
body {
	margin: 0;
	font-size: 14px;
	background-color: #D9D9D9;
}
.header {
	width: 1000px;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}
.main {
	width: 1000px;
	background-color: #FFFFFF;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.main .anvbar {


}
.main .section {
}
.footer {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	width: 1000px;
	text-align: center;
}
