@charset "utf-8";
body {
	margin: 0;
	font-size: 14px;
	background-color: #D9D9D9;
	background-image: url(ing/bj1.jpg);
}
.header {
	width: 1000px;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url(ing/dhl.jpg);
	text-shadow: 0px 0px;
	color: #8585D1;
}
.main {
	width: 1000px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.main .anvbar {
	background-color: #B78B42;
	width: 200px;
	height: 500px;
	float: left;


}
.main .anvbar a {
	display: block;
	width: 70%;
	color: #FFFFFF;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	line-height: 40px;
	margin-top: 20%;
	text-decoration: none;
	border-radius: 10px;
	background-color: #CEAD77;
}
.main .anvbar a:hover  {
	background-color: #7F602D;
}


.main .section {
	width: 780px;
	height: 500px;
	background-color: #AE4D56;
	float: left;
	margin-left: 20px;
}
.main .section iframe {
	width: 100%;
	border: none;
	height: 100%;
}

.footer {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	text-align: center;
}
.d-1 {
	border: none;
	line-height: 25px;
	border-bottom-left-radius: 15px;
	text-align: center;
	border-top-left-radius: 10px;
	width: 100px;
}
.text1 {
	width: 60%;
	height: auto;
	border: none;
	line-height: 25px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	color: rgba(75,75,75,1.00);
	text-indent: 10px;
}
.text2 {
	border: none;
	line-height: 25px;
	width: 35%;
}
.mall1 {
	width: 5%;
	border: none;
	line-height: 25px;
}
.mall2 {
	width: 20%;
	line-height: 25px;
	height: 27px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.darea {
	text-align: center;
	border: none;
	height: 100px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	float: left;
}
.areatext {
	width: 52%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #333333;
	text-indent: 10px;
	float: left;
	border: none;
	height: 98px;
}
.xx {
	width: 30%;
	float: left;
	margin-left: 150px;
	background-color: #6BB3CC;
	line-height: normal;
	font-size: 25px;
	border-radius: 10;
	border: none;
	font-weight: 18;
}
.xx1 {
	background-color: #3889A5;
}
